.workshop_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 60%;
    padding: 10px 30px;
    //background: #596BA8;
    background: -moz-radial-gradient(center, #596BA8 0%, #596BA8 42%, #DEB887 100%);
    background: -webkit-radial-gradient(center, #596BA8 0%, #596BA8 42%, #DEB887 100%);
    background: radial-gradient(ellipse at center, #596BA8 0%, #596BA8 42%, #DEB887 100%);
    -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(89, 107, 168, 0);
    box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(89, 107, 168, 0);
    border-radius: 13px;

    & p {
        font-size: 22px;
        margin: 15px;
        text-align: center;
        color: black;
    }

    & .button {
        justify-content: center;
        margin: 15px;
    }
}