button {
    background-color: #1717A6;
    color: #fff;
    padding: 10px 15px;
    margin-bottom: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: #2E7C03;
}