* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--font-family-default);
    font-size: var(--font-size-medium);
    color: var(--text-color-default);
    background-color: var(--bg-light-beige);
    line-height: 1.5;
}

.header,
.footer {
    width: 100%;
    background-color: var(--bg-blue);
}

.footer {
    margin-top: 3rem;
}

.main {
    width: 90%;
    margin: 0 auto;
}

h1,
h2,
h3,
p {
    margin: 0;
}

h1,
nav,
a {
    font-family: var(--font-family);
    color: var(--text-color);
    font-weight: var(--font-weight-bold);
}

h2 {
    font-size: var(--font-size-huge);
    text-align: center;
}

img {
    width: 100%;
    height: auto;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: 50px auto;
}

th,
td {
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}


.button {
    font-size: var(--font-size-medium);
    background-color: var(--grey-brown);
    color: var(--text-color);
    text-shadow: var(--text-shadow);
    font-weight: var(--font-weight-black);
    border-radius: var(--small-radius);
    padding: var(--padding-xs);
}

.formGroup {
    text-align: center;
    width: 100%;
}

.inputGroup {
    align-items: center;
    font-size: var(--font-size-s);
    display: flex;
    flex-direction: column;
}

.inputLabel {
    margin-top: 1rem;
}

.inputField,
.inputSelect,
.inputTextarea,
.submitButton {
    width: 30rem;
    height: 5rem;
    padding: var(--padding-xs);
    border-radius: var(--basic-radius);
}

.cards {
    max-width: 100%;
    margin: 0 auto;
    padding: var(--padding-s);
    text-align: center;
    border-radius: var(--basic-radius);
}

.card {
    margin: 2rem;
    padding: 1rem;
    box-shadow: 0 0 15px 0px, inset 0 0 15px 0px;
}

.listWorkshop {
    gap: 2rem;
}

.workshopCard {
    width: 45rem;
    padding: var(--padding-m);
    text-align: center;
    border-radius: var(--basic-radius);
    background-color: var(--bg-white);
    box-shadow: 6px 6px 0 var(--shadow-color), 0 0 0 2px var(--shadow-color);
    align-items: center;

    & p {
        text-align: center;
    }
}


// VERSION TABLETTE
@media only screen and (min-width: 980px) {
    :root {
        --font-size-default: 1rem;
    }

    h2 {
        margin: 3rem;
    }

    .cards {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .formGroup,
    .listWorkshop {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;

    }

    .inputLabel {
        font-size: var(--font-size-big);
    }

    .inputField,
    .inputSelect,
    .inputTextarea {
        width: 40rem;
        height: 4em;
    }

    .workshopCard {
        width: 40rem;
        height: 20rem;
    }
}

//VERSION DESKTOP
@media only screen and (min-width: 1200px) {
    :root {
        --font-size-default: 1.6rem;
    }

    .workshopCard {
        width: 25rem;
        height: 25rem;
    }

}