* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--font-family);
    font-size: var(--font-size-default);
    color: var(--text-color);
    background-color: var(--bg-color);
    line-height: 1.5;
}

.container {
    width: 100%;
    margin: 0 auto;
    min-width: 480px;
}

h1,
h2,
p {
    margin: 0;
}

h1,
nav,
a {
    font-family: var(--font-family);
    color: var(--secondary);
}

h2 {
    color: var(--text-color);
}

img {
    width: 100%;
    height: auto;
}



/*main {
    max-width: 25rem;
    margin: 5rem auto;
    padding: 2rem;
    border: 1px solid var(--primary);
}*/


// VERSION TABLETTE
@media only screen and (min-width: 780px) {
    :root {
        --font-size-default: 1rem;
    }
}

// VERSION DESKTOP
@media only screen and (min-width: 1200px) {
    :root {
        --font-size-default: 1.6rem;
    }
}

/*
.button,
.input {
    font-size: var(--font-size-small);
}

.label {
    font-size: var(--font-size-small);
}

.card {
    border-radius: var(--basic-radius);
    box-shadow: 6px 6px 0 var(--shadow-color), 0 0 0 2px var(--shadow-color);
}

.padding-s {
    padding: var(--padding-s);
}

.padding-m {
    padding: var(--padding-m);
}

.padding-l {
    padding: var(--padding-l);
}

.padding-xl {
    padding: var(--padding-xl);
}

.padding-xxl {
    padding: var(--padding-xxl);
}*/