.inputGroup {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 3rem auto;
}

h2 {
  text-align: center;
  padding: 2rem;
}

.inputLabel {
  text-align: left;
  font-size: 3.3rem;
}

.inputField,
.inputSelect,
.inputTextarea {
  height: 6rem;
  font-size: 2rem;
  background-color: rgba(45, 45, 45, 1);
  padding: 1rem 2rem;
  border: 20px outset linear-gradient(40deg, #9c3, #fc3, #f63);
  border-radius: 11px;
}



@media only screen and (min-width: 975px) {
  .main {
    display: flex;
    flex-wrap: wrap;
  }

  .inputGroup {
    align-items: center;
  }

  .inputField {
    width: 70%;
    padding: 8px;
  }

  .submitButton {
    display: block;
    margin: auto;
  }
}