.container_formul {
    margin: 2rem 0;
}

.main {
    padding: 1rem;
}

.inputGroup {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 3rem auto;
}

h2 {
    text-align: center;
    padding: 2rem;
    color: black;
}

.inputLabel {
    text-align: left;
    font-size: 3.3rem;
}

.inputField {
    height: 6rem;
    padding: 1rem;
    font-size: 2.6rem;
    border-radius: 10px;
    border-color: #BA3525;
    box-shadow: 2px 2px 8px 1px #BA3525;
}

.submitButton {
    background-color: #1717A6;
    color: #fff;
    font-size: 25px;
    padding: 10px 15px;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
        background-color: #2E7C03;
    }
}

@media only screen and (min-width: 975px) {
    .main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }

    .inputField {
        width: 100%;
        padding: 8px;
    }

    .submitButton {
        display: block;
        margin: auto;
    }
}

/*.container_formul {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .inputGroup {
    margin-bottom: 15px;
  }
  
  .inputLabel {
    display: block;
    margin-bottom: 5px;
  }
  
  .inputField {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  */


/* Aligner les champs sur la même ligne */
/*
  .inputGroup:nth-child(1),
  .inputGroup:nth-child(2) {
    display: flex;
    gap: 10px;
  }
  
  .inputGroup:nth-child(3),
  .inputGroup:nth-child(4) {
    display: flex;
    gap: 10px;
  }
  
  .inputGroup:nth-child(5),
  .inputGroup:nth-child(6) {
    display: flex;
    gap: 10px;
  }
  
  .inputGroup:nth-child(7),
  .inputGroup:nth-child(8) {
    display: flex;
    gap: 10px;
  }
  */

/* Centrer le bouton de soumission */
/*.submitButton {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  */