.header {
    width: 100%;
    background-color: #2E7C03;
    padding: 15px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-top {
    color: #fff;
    margin-bottom: 10px;
}

.header-bottom {
    width: 70%;
    margin: 0 auto;
}

.header-bottom nav {
    display: flex;
    justify-content: space-around;
}

.header-bottom nav a {
    text-decoration: none;
    color: #fff;
    padding: 8px 15px;
    border-radius: 5px;
}

.header-bottom nav a:hover,
.header-bottom nav a.active {
    background-color: #ddd;
    color: #1D1B1B;
}

.menu-icon {
    display: none;
}

@media only screen and (max-width: 975px) {
    .header-bottom nav {
        flex-direction: column;
        align-items: center;
        display: none;
    }

    .header-bottom.active nav {
        display: flex;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
        color: #fff;
        font-size: 24px;
        margin-bottom: 10px;
    }
}