.header {
    font-size: var(--font-size-big);
    padding: var(--padding-s);
    align-items: center;
    text-align: center;

    .logo-title{
        display:flex;
        flex-direction:row;
        justify-content: center;
        align-items: center;
     }

    .navbar {
        width: 85%;
         margin: 0 auto;

        nav {
            flex-direction: column;
            display: none;

            a {
                text-decoration: none;
                padding: var(--padding-xs);
                border-radius: var(--small-radius);

                &:hover {
                    background-color: var(--bg-light-beige);
                    color: var(--text-color-default);
                }
            }
        }

        &.active {
            nav {
                display: flex;
            }
        }

        .menu-icon {
            display: block;
            cursor: pointer;
            color: var(--icon-color);
            font-size: var(--font-size-big);
            margin-bottom: 10px;
        }


        // VERSION TABLETTE
        @media only screen and (min-width: 768px) {
            nav {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
            }

            .menu-icon {
                display: none;
            }
        }

        // VERSION SMALL AND LARGE DESKTOP
        @media only screen and (min-width: 992px) {
            nav {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                font-size: var(--font-size-huge);
            }

            .menu-icon {
                display: none;
            }
        }

    }
}