.header {
    width: 100%;
    background-color: #2E7C03;
    font-size: 25px;
    padding: 15px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-top {
    color: #fff;
    margin-bottom: 10px;
}

.header-bottom {
    width: 70%;
    margin: 0 auto;
}

.header-bottom nav {
    flex-direction: column;
    align-items: center;
    display: none;
}


.header-bottom nav a {
    text-decoration: none;
    color: #fff;
    padding: 8px 15px;
    border-radius: 5px;
}

.header-bottom.active nav {
    display: flex;
}

.header-bottom nav a:hover {
    background-color: #ddd;
    color: #1D1B1B;
}

.menu-icon {
    display: block;
    cursor: pointer;
    color: #fff;
    font-size: 24px;
    margin-bottom: 10px;
}


@media only screen and (min-width: 975px) {
    .header-bottom nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .menu-icon {
        display: none;
    }
}