// styles/gallery.scss
.gallery {
    .dancers {
      display: none;
  
      @media only screen and (min-width: 768px) {
        display: flex;
        justify-content: space-evenly;
        margin-top: 20px;
  
        source,
        img {
          width: calc(33.33% - 3px);
          height: auto;
        }
      }
    }
  }
  
  .slide-container {
    display: block;
  
    @media only screen and (min-width: 768px) {
      display: none;
    }
  }
  